# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build
/OrchEngine/build

#Ignore IDEA setting files
/.idea
/TOW.iml

#Ignore game created files
/logs
/setting.json
hs_err_pid*.log

#Ignore OS-specific files
/.directory