# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build

#Ignore IDEA setting files
/.idea
/TOW.iml

#Ignore game created files
/logs
/settings

#Ignore OrchEngine subproject
/OrchEngine

#Ignore OS-specific files
/.directory